$blue_0: #7ec3f8;
$blue_1: #61b7fa;
$blue_2: #4fabfd;
$blue_3: #38a2ff;
$blue_4: #2298fd;
$blue_5: #088dfd;

$red_0: #fd7faf;
$red_1: #fc6ea3;
$red_2: #fd5e99;
$red_3: #ff498d;
$red_4: #ff307d;
$red_5: #fd196e;

$gray_0: #dedede;
$gray_1: #c2c2c2;
$gray_2: #9f9f9f;
$gray_3: #818181;

$black_0: #131313;
$black_1: #232323;
$black_2: #363636;